@charset "UTF-8";

body {
  background: rgb(205, 255, 203);
  font-family: Arial, Helvetica, sans-serif;
}

#principal {
  text-align: center;
  background: greenyellow;
  color: #eee ;
  font-style: italic;
}

.apredendo {
  color: black;
  font-weight: 800;
  font-style: italic;
}

.basico {
  color: green;
  font-style: italic;
}

.intermediario {
  color: yellow;
  font-style: italic;
}

.avancado {
  color: red;
  font-style: italic;
}

.destaque {
  background: #f3f317;
}

.paragrafo {
  text-align: justify;
}